<div class="container">

  <div class="grid-item invite" *ngIf="join">
    <span>{{data.sender}} as invited you to a game:</span><br>
    <button routerLink="/game" routerLinkActive="active" (click)=emitJoinGame(data) class="accept">accept</button>
    <button id="decline" *ngIf="join" (click)="emitDecline(data)" class="cancel">decline</button>
  </div>

  <div class="grid-item ">
    <button id="cancel" *ngIf="invitSent" (click)='cancelInvintation()' class="cancel">Cancel invite</button>
  </div>



  <div class="grid-item list">
    <span>players online:</span>
    <li *ngFor="let user of userNamelist; index as i; first as isFirst">
      <button id="{{i}}" (click)="emitInvite(user)" style="color: black;"> {{user}} - invite to play </button>
    </li>
  </div>

</div>