<button class="exitBTN"><a routerLink="/lobby"><i class="fa fa-sign-out"></i></a></button>
<div class="game">
    <div class="status text-center p-4">
        {{ statusMessage}}
    </div>
    <div class="board" *ngFor="let row of [0,1,2]">
        <app-cell #cellID *ngFor="let col of [0,1,2]" [row]="row" [col]="col" [piece]="board[row][col]"
            (click)="emitMove(row, col)"></app-cell>
    </div>
    <div class="pt-2"></div>
    <button *ngIf="gameOver" class="btn btn-primary new-game" (click)="emitNewGame()">New Game</button>
</div>

<div>
    <form>
        <input #message id="message" placeholder="Enter message">
        <button (click)=emitMessage(message.value)>submit</button>
        <div class="chat">
               <p #messageShow [innerHTML]="messageData"></p>     
        </div>
    </form>
</div>