/* .column{
    border: 2px solid black;
    width: 30vh;
    height: 30vh;
    padding: auto;
    margin: auto;
    display: inline-block;
}
.row{
    border: 2px solid red;
    width:fit-content;
    height:fit-content;
}
img{
    width: 30vh;
    height: 30vh;
} */

.board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
}

.status{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}

.new-game{
    width: 100%;
}