.board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
}

.status{
    color: indigo;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 2vh;
}

.new-game{
    width: 100%;
}


/* .game{
    float: left;
    width: 75%;
}*/
.chat{
    height: 20vh;
    overflow: scroll;
} 

.exitBTN{
    color: black;
    background-color: red;
    width: 6vw;
    height: 5vh;
    font-size: xx-large;
    position: absolute;
    left: 0;
}
